ul.nav.nav-tabs
  = active_link_to 'Log Explorer', admin_transmitter_log_entries_path, wrap_tag: :li, active: :exclusive
  = active_link_to 'Unsigned Logs', unsigned_admin_transmitter_log_entries_path, wrap_tag: :li, active: :exclusive
br