- defaults = {input_wrapper_html: {class: 'col-lg-6'}, label_html: {class: 'col-lg-2'}}

= simple_form_for [:admin, @program_log_entry_schedule], html: {class: 'form-horizontal'}, defaults: defaults do |f|
  / fill out this form