- content_for :title, "Program Log Schedules"

.page-header
  h1 Program Log Schedules

= render 'navigation'

/ insert a table of plog entry schedules here with links to edit them
/ also make sure there's a column for the program log entry's name to clarify
/ be sure to add a "no results found" condition

= will_paginate @program_log_entry_schedules, renderer: BootstrapPagination::Rails, bootstrap: 3