/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "bootstrap";

body {
  padding-top: 70px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* All levels of nav */
.sidebar-nav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: lighten($brand-primary, 43%);
  border-radius: 5px;

  .nav {
    > li > a, .nav-header {
      display: block;
      color: $brand-primary;
      padding: 5px 20px;

      &:hover, &:focus {
        text-decoration: none;
        background-color: lighten($brand-primary, 40%);
      }
    }

    > li.active {
      background-color: lighten($brand-primary, 40%);
      border-right: 1px solid $brand-primary;
    }

    .nav-header {
      font-weight: bold;
      color: $brand-primary;
      background-color: transparent;
    }

    .nav {
      margin-bottom: 8px;

      > li > a {
        padding-top:    3px;
        padding-bottom: 3px;
        padding-left: 30px;
        font-size: 90%;
      }
    }
  }
}