.page-header
  h1 Sunday Specials / Pop Up Shows

markdown:
  The Pop-Up Show is a Specialty Show-like block of time for current ops to 
  experiment with a certain theme for a few weeks. It will air on Thursdays 
  from 6 to 7pm for 2-4 weeks. If a previous Sunday Special host shows 
  interest, a Pop-Up Show will be selected by the Program Director to follow 
  the same theme. Pop-Up Shows can be cancelled by the Program Director at 
  any time for any reason, including FCC violations and straying too far from
  the original theme proposed in the Sunday Special.

  **To be considered for a Pop-Up Show, an op needs to air a Sunday Special
  in the month prior. Ops can sign up for a Sunday Special 
  [here](https://goo.gl/forms/Eq3cxu7WObaXX9Ll1).**

  Sunday Specials will be approved on a first come, first serve basis. 
  Pop-Up shows have to maintain the same theme as the Sunday Specials they 
  were originally submitted as.

  **A schedule of approved Sunday Specials and Pop-Up Shows can be found 
  [here](https://docs.google.com/spreadsheets/d/1oRecX100mUMSjLYW-_tsEjOrO3uxvQTXA2JhmX24ts0/edit?usp=sharing).**

  Generally, to become a weekly Specialty Show, one must start as a Sunday 
  Special then as a Pop-Up Show.

