.page-header
  h1 Pop Up Shows

markdown:
  The Pop Up Show is a Specialty Show-like block of time for current ops to experiment with a certain theme. It will air on Thursdays from noon to 1PM for 4 weeks. Every 4 weeks, a new Pop Up Show will be selected by the Program Director. If no suitable Pop Up Show is presented or if there are more than 4 Thursdays in a given month, the hour will be assigned to the Music Directors for broadcast and discussion of new music they have programmed during a given week. Pop Up Shows can be cancelled by the Program Director at any time for any reason, including FCC violations and straying too far from the original theme proposed in the Sunday Special. 

  **To be considered for a Pop Up Show, an op needs to air a Sunday Special in the month prior. Ops can sign up for a Sunday Special [here](http://bit.ly/SSSignUp).**

  Sunday Specials will be approved on a first come, first serve basis. The Pop Up Show for a given month will be announced the Monday following the last Sunday Special of each month. Pop Up shows have to maintain the same theme as the Sunday Specials they were originally submitted as.

  **A schedule of approved Sunday Specials and Pop Up Shows can be found [here](http://bit.ly/SSWREK).**